body {
    background-color: black;
    color: #CFB97C;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    min-height: 100vh;        
    margin: 0;                
}

.main-nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.nav-brand{
    align-self: center;
    font-size: 24px;
}
.nav-menu{
    display: flex;
    gap: 20px;
}
.main-nav ul{
    list-style: none;
}
.nav-menu a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    color: #CFB97C;
    background-color: black;
    border: solid 1px white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .5s, color .5s, border .5s;
}
.nav-menu a:hover{
    background-color: #CFB97C;
    color: black;
    border: solid 1px #CFB97C;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
}
.nav-toggle{
    display: none;
}

@media (max-width: 768px){
    .nav-brand{
        align-self: center;
        font-size: 36px;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu.show{
        position: absolute;
        top: 75px;
        right:0px;
        left: 0px;
        background-color: #CFB97C;
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-direction: column;
        
    }
    .nav-menu a {
        margin: 20px;
        font-size: 20px;
        border: none;
        border-radius: 0px;
        cursor: pointer;
        transition: background-color .5s, color .5s, border .5s;
    }
    .nav-toggle{
        position: absolute;
        top: 25px;
        right:20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50px;
        height: 50px;
        padding: 6px;
        border: none;
        background-color: #CFB97C;
        border-radius: 5px;
        transition-duration: 0.8s;
    }
    span{
        margin: 3px;
        height: 5px;
        border-radius: 2px;
        background-color: black;
        display:block
    }
}